.navbar-fixed {
    height: 64px;
    z-index: 997;
}

@media only screen and (amx-width: 601px) {
    height: 56px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    .closebtn {
        position: absolute;
        top: 16px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #fff;
    }

    .countries {
        margin-bottom: 20px;

        .countryClass {
            color: #fff;
            font-weight: 500;
        }

        // .worldClass:hover {
        //     background-color: white;
        //     color: #ccc;
        //     font-weight: 500;
        // }

        .selected {
            display: inline-block;
        }

        .rest {
            display: inline-block;
            cursor: pointer;
            color: #fff;
            font-weight: 500;
            .cdropdown {
                display: none;
                position: absolute;
                z-index: 999;
                background: #fff;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
                min-width: 75%;
                right: 10px;
                max-height: 650px;
                overflow-y: auto;
                li {
                    clear: both;
                    color: rgba(0,0,0,0.87);
                    cursor: pointer;
                    min-height: 50px;
                    line-height: 1.5rem;
                    width: 100%;
                    text-align: left;
                    text-transform: none;
                    display: list-item;
                    span {
                        font-size: 16px;
                        color: #26a69a;
                        display: block;
                        line-height: 22px;
                        padding: 14px 16px;

                    }
                }
                // li:hover {
                //     background-color: #eee;
                // }
            }
        }

        .btn {
            margin: 0 16px;
        }
    }

    .categories {
        ul {
            li {
                padding: 8px 0;
                cursor: pointer;
                //color: #fff;
                border-bottom: 1px solid #ccc;
                text-align: center;
            }

            li.activeClass {
                background: #ccc;
                color: black;
                font-weight: 500;
            }

            li:hover, .offcanvas a:focus {
                color: #f1f1f1;
            }
        }
    }
}

// .sidenav a {
//     padding: 8px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 25px;
//     //color: #818181;
//     display: block;
//     transition: 0.3s
// }

// .sidenav a:hover, .offcanvas a:focus{
//     color: #f1f1f1;
// }

// .sidenav .closebtn {
//     position: absolute;
//     top: 0;
//     right: 25px;
//     font-size: 36px;
//     margin-left: 50px;
// }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}