.newscard-img{
    height: 268px;
    //width: 320px;
    border-radius: 4px;
    overflow: hidden;
    margin: 8px;
    background-size: cover;
    background-position: 50%;
}

.news-content {
    padding-left: 0px !important;
    padding-top: 0px !important;
}